section.home-partner
	.article-title-brown-center
		p.title Đối tác khách hàng
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						img(src="./img/home/partner/1.png", alt="")
				.swiper-slide
					.wrapper
						img(src="./img/home/partner/2.png", alt="")
				.swiper-slide
					.wrapper
						img(src="./img/home/partner/3.png", alt="")
				.swiper-slide
					.wrapper
						img(src="./img/home/partner/4.png", alt="")
