section.other-job
	p.title Vị trí khác
	ol.job-list-other
		li.job-list-item-other
			.job-wrapper
				p.title Trường bộ phận tuyển dụng ( 0
					span 1 
					| người )
				p Trình độ: 
					span Đại học
				p Kinh nghiệm: 
					span 2 năm
				p Mức lương: 
					strong 17.000.000 đ
				p Hạn nộp hồ sơ: 
					time 30/08/19
		li.job-list-item-other
			.job-wrapper
				p.title Trường bộ phận tuyển dụng ( 0
					span 1 
					| người )
				p Trình độ: 
					span Đại học
				p Kinh nghiệm: 
					span 2 năm
				p Mức lương: 
					strong 17.000.000 đ
				p Hạn nộp hồ sơ: 
					time 30/08/19
		li.job-list-item-other
			.job-wrapper
				p.title Trường bộ phận tuyển dụng ( 0
					span 1 
					| người )
				p Trình độ: 
					span Đại học
				p Kinh nghiệm: 
					span 2 năm
				p Mức lương: 
					strong 17.000.000 đ
				p Hạn nộp hồ sơ: 
					time 30/08/19
		li.job-list-item-other
			.job-wrapper
				p.title Trường bộ phận tuyển dụng ( 0
					span 1 
					| người )
				p Trình độ: 
					span Đại học
				p Kinh nghiệm: 
					span 2 năm
				p Mức lương: 
					strong 17.000.000 đ
				p Hạn nộp hồ sơ: 
					time 30/08/19
		li.job-list-item-other
			.job-wrapper
				p.title Trường bộ phận tuyển dụng ( 0
					span 1 
					| người )
				p Trình độ: 
					span Đại học
				p Kinh nghiệm: 
					span 2 năm
				p Mức lương:
					strong 17.000.000 đ
				p Hạn nộp hồ sơ: 
					time 30/08/19
