.about-us-certificate
	.container
		.article-title-brown-center
			p.title Chứng nhận giải thưởng 
		.certificate-navigation-tab
			ul
				li.active
					a(href="#") Chứng nhận 
				li
					a(href="#") Giải thưởng
		.certificate-wrapper-tab
			.nav-prev-item
				em.mdi.mdi-chevron-left
			.nav-next-item
				em.mdi.mdi-chevron-right
			.nav-prev-item-1
				em.mdi.mdi-chevron-left
			.nav-next-item-1
				em.mdi.mdi-chevron-right
			.certificate-item-tab
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper
								.swiper-image
									img(src="./img/about-us/certificate-1.jpg", alt="")
								.swiper-caption
									p Giải thưởng doanh nghiệp TP.HCM Tiêu biểu
						.swiper-slide
							.wrapper
								.swiper-image
									img(src="./img/about-us/certificate-1.jpg", alt="")
								.swiper-caption
									p Giải thưởng doanh nghiệp TP.HCM Tiêu biểuhưởng doanh nghiệp TP.HCM Tiêu biểu
						.swiper-slide
							.wrapper
								.swiper-image
									img(src="./img/about-us/certificate-1.jpg", alt="")
								.swiper-caption
									p Giải thưởng doanh nghiệp TP.HCM Tiêu biểu thưởng doanh nghiệp TP.HCM Tiêu biểu
						.swiper-slide
							.wrapper
								.swiper-image
									img(src="./img/about-us/certificate-1.jpg", alt="")
								.swiper-caption
									p Giải thưởng doanh nghiệp TP.HCM Tiêu biểu
