section.about-us-chart
	.container
		.row.about-us-chart-wrapper
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-1.png", alt="")
				.caption
					p.title Khách hàng
					p.text Khách hàng là số một, là người quyết định cuối cùng cho sự phát triển của xí nghiệp. Chúng tôi nỗ lực cung cấp cho khách hàng các sản phẩm và dịch vụ ngày càng hoàn hảo với chất lượng tốt nhất, giá cả hợp lý và đúng thời gian.
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-2.png", alt="")
				.caption
					p.title Đối tác
					p.text Đối tác là người bạn đồng hành, hỗ trợ, chia sẻ thuận lợi và khó khăn. Chúng tôi theo đuổi việc xây dựng mối quan hệ với các đối tác dựa trên nền tảng tin tưởng, tôn trọng và cùng chia sẻ công bằng các giá trị.
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-3.png", alt="")
				.caption
					p.title Nhân viên
					p.text Đối tác là người bạn đồng hành, hỗ trợ, chia sẻ thuận lợi và khó khăn. Chúng tôi theo đuổi việc xây dựng mối quan hệ với các đối tác dựa trên nền tảng tin tưởng, tôn trọng và cùng chia sẻ công bằng các giá trị.
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-4.png", alt="")
				.caption
					p.title Hệ thống quản lý
					p.text Đối tác là người bạn đồng hành, hỗ trợ, chia sẻ thuận lợi và khó khăn. Chúng tôi theo đuổi việc xây dựng mối quan hệ với các đối tác dựa trên nền tảng tin tưởng, tôn trọng và cùng chia sẻ công bằng các giá trị.
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-3.png", alt="")
				.caption
					p.title văn hóa
					p.text Đối tác là người bạn đồng hành, hỗ trợ, chia sẻ thuận lợi và khó khăn. Chúng tôi theo đuổi việc xây dựng mối quan hệ với các đối tác dựa trên nền tảng tin tưởng, tôn trọng và cùng chia sẻ công bằng các giá trị.
			.col-sm-6.col-md-4.chart-item
				.chart-image
					img(src="./img/about-us/icon-4.png", alt="")
				.caption
					p.title xã hội
					p.text Đối tác là người bạn đồng hành, hỗ trợ, chia sẻ thuận lợi và khó khăn. Chúng tôi theo đuổi việc xây dựng mối quan hệ với các đối tác dựa trên nền tảng tin tưởng, tôn trọng và cùng chia sẻ công bằng các giá trị.
