section.project-detail-swiper
	.container
		.row
			.col-lg-10
				.swiper-project-top
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/2.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/3.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/4.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/5.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/5.jpg", alt="")
										img(src="./img/project-detail/3.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/4.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/5.jpg", alt="")
							.swiper-slide
								.wrapper
									.swiper-image
										img(src="./img/project-detail/5.jpg", alt="")

			.col-lg-2
				.swiper-navigation-wrapper-project-detail
					.navigation-prev-project
						em.mdi.mdi-chevron-up
					.navigation-next-project
						em.mdi.mdi-chevron-down
					.swiper-project-thumbs
						
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/2.jpg", alt="")
								.swiper-slide
									.wrapper

										.swiper-image
											img(src="./img/project-detail/3.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/4.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/5.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/5.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/5.jpg", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/project-detail/5.jpg", alt="")
