footer
	section.footer-top
		.container
			.row
				.col-md-6.col-lg-3
					p.title Giới thiệu
					ul
						li
							a(href="#") Giới thiệu tổng quan
						li
							a(href="#") Triết lý kinh doanh
						li
							a(href="#") Cơ cấu tổ chức
						li
							a(href="#") Chứng nhận - Giải thưởng
				.col-md-6.col-lg-3
					p.title Lĩnh vực hoạt động
					ul
						li
							a(href="#") Thi công xây lắp
						li
							a(href="#") Cho thuê xe máy thiết bị
						li
							a(href="#") Dự án đầu tư
				.col-md-6.col-lg-3 
					p.title tin tức
					ul
						li
							a(href="#") Tin hoạt động


						li
							a(href="#") Tin tức ngành
						li
							a(href="#") Tin tức tổng hợp
						li
							a(href="#") Thư viện
				.col-md-6.col-lg-3
					p.title tuyển dụng
					ul
						li
							a(href="#") Môi trường làm việc
						li
							a(href="#") Cơ hội nghề nghiệp
						li
							a(href="#") Tuyển dụng
					p.title-white Liên kế website
					.link-to-website
					
						ul.main-nav
							li.has-sub
								span Liên kết tới website
								ul.nav-sub
									li
										a(href="#123") Tổng công ty Samco1
									li
										a(href="#456") Tổng công ty Samco2
									li
										a(href="#789") Tổng công ty Samco3
									li
										a(href="#111213") Tổng công ty Samco4
	section.footer-bottom
		.container
			.footer-contact-information
				span.name Xí Nghiệp Đầu Tư Xây Dựng Đô Thành - CSAMCO
				p 121 Cô Giang, Phường Cô Giang, Quận 1, TP Hồ Chí Minh
				p Điện thoại: 84 28 39207350  -  84 28 39203817  |  Fax:   +84 8 39207351
				p Email: 
					a(href="mailto:info@csamco.com.vn") info@csamco.com.vn -  Website: 
					a(href="www.csamco.com.vn") www.csamco.com.vn
			.footer-copy-right
				.social-wrapper
					.social-item
						a(href="#")
							em.fab.fa-facebook-f
					.social-item
						a(href="#")
							em.fab.fa-youtube
				.copyright
					ul
						li
							a(href="#") Điều khoản sử dụng
						li
							a(href="#") Chính sách bảo mật
						li
							a(href="#") Sơ đồ trang web
					p © 2019 CSAMCO. All rights reserved. Desgined by Cánh Cam.
						


