header
	section.header-samco
		.container
			.header-wrapper
				.header-left
					.nav-brand
						img(src="./img/logo.png", alt="#")
				.header-right
					.top-header
						.contact-wrapper
							.contact-item
								em.mdi.mdi-phone
								a(href="#") +84 28 3920 7350 
							.contact-item
								em.mdi.mdi-email
								a(href="#") info@csamco.com
						.search-wrapper
							.search-toggle
							.searchbox
								input
								button(type="submit").searchbutton
									em.mdi.mdi-magnify
						.language-wrapper
							a(href="#")
								img(src="./img/vn.png", alt="#")
							a(href="#")
								img(src="./img/uk.png", alt="#")
						.mobile-toggle
							em.lnr.lnr-menu
					.bottom-header
						ul.bottom-header-navigation
							li
								a(href="#") Trang chủ 
							li
								a(href="#") Giới thiệu
							li
								a(href="#") Lĩnh vực hoạt động 
							li
								a(href="#") Dự án
							li
								a(href="#") Tin tức
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Liên hệ
	section.mobile-wrapper
