section.field-detail-article-1
	.container
		.row
			.col-lg-4
				article
					p  Xí nghiệp Đầu tư Xây dựng Đô Thành (CSAMCO) đã chứng tỏ được những thành công bước đầu trong quá trình thực hiện mục tiêu “CSAMCO sẽ là một trong những thương hiệu hàng đầu Việt Nam trong lĩnh vực xây dựng” thông qua: Năng lực đảm nhận công trình của đơn vị ngày càng được nâng lên, trình độ nghiệp vụ của lực lượng cán bộ được nâng cao, đội ngũ công nhân kỹ thuật lành nghề cùng với trang thiết bị hiện đại sẵn sàng đảm đương những công trình lớn, kỹ thuật thi công phức tạp.

					p Coi trọng chất lượng sản phẩm, đặt lợi ích của khách hàng lên trên hết, “công trình sau luôn luôn tốt hơn công trình trước” là mục tiêu và phương châm hoạt động của CSAMCO để trở thành một trong những thương hiệu hàng đầu trong lĩnh vực xây dựng ở Việt Nam.
			.col-lg-8
				article
					.article-image
						img(src="./img/field-detail/1.jpg", alt="")
