section.field-of-business-display
	.container
		.article-title-white-center(data-aos="zoom-in" data-aos-offset="120" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out")
			p.title Lĩnh vực hoạt động
		.row(data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="0" data-aos-duration="600" data-aos-easing="ease-in-out")
			.col-6.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/1.jpg", alt="")
					figcaption
						p Thi công lắp đặt
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
			.col-6.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/2.jpg", alt="")
					figcaption
						p Thi công lắp đật
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
			.col-12.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/3.jpg", alt="")
					figcaption
						p Thi công lắp đật
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
