section.project-detail
	.container
		.article-title-brown-start
			p.tilte KCN quốc tế Ascendas Protrade
		.row
			.col-lg-7
				article
					h1 Mô tả dự án
					.item
						em.material-icons
							| place
						p
							strong Địa điểm thi công: 
							span xã An Tây, huyện Bến Cát, tỉnh Bình Dương
					.item
						em.material-icons
							| person
						p
						

							strong Chủ đầu tư:
							span Công ty TNHH Ascendas – Protrade (nay là Công ty TNHH MTV Quốc tế Protrade)
					.item
						em.material-icons
							| crop_free
						p
							
							strong Quy mô:
							span  Thi công san lấp và cơ sở hạ tầng trong khu công nghiệp quốc tế Ascendas Protrade, diện tích khoảng 100ha diện tích khoảng 100ha
					.item
						em.material-icons
							| rv_hookup
						p
							strong Hệ thống giao thông: 
					ul
						li Đường bê tông nhựa, lề đi bộ bê tông cốt thép
						li Hệ thống thoát nước mưa cống hộp đôi 2000x2500, cống hộp đơn 2000x2000  2000x2500 – 2500x2500 – 3000x2000 – 3000x2500, cống tròn D300-D2000
						li Hệ thống thoát nước thải
						li Hệ thống cấp nước, cấp điện, thông tin liên lạc và cảnh quan, cây xanh-chiếu sáng
			.col-lg-5
				article
					.article-image
						img(src="./img/project-detail/1.jpg", alt="")
