section.side-navigation-project-wrapper
	h1 Dự án
	ul.side-navigation-project
		li.active
			span
				| Công trình xây lắp
				em.mdi.mdi-chevron-down
			ul
				li.active
					a(href='#')
						| Danh sách sản phẩm 1
				li
					a(href='#')
						| Danh sách sản phẩm 2
				li
					a(href='#')
						| Danh sách sản phẩm 3
		li
			span
				| Đất dự án
				em.mdi.mdi-chevron-down
			ul
				li
					a(href='#')
						| Danh sách sản phẩm 
				li
					a(href='#')
						| Danh sách sản phẩm 1
