section.home-project
	.container
		.row
			.col-lg-6
				article
					.article-title-brown-start
						p.title Dự án nổi bật
					p.caption Với phương châm xem con người là vốn quý của doanh nghiệp và sự hài lòng của khách hàng là tiên quyết, CSAMCO đã xây dựng đội ngũ nhân sự năng động, sáng tạo, có bề dày kinh nghiệm, mang đến cho quý khách hàng sự tin cậy và hài lòng nhất với các sản phẩm mang thương hiệu CSAMCO.
					.article-red-button
						a(href="#") Xem thêm
							em.fas.fa-long-arrow-alt-right
			.col-lg-6
				article
					.article-image
						img(src="./img/home/project/1.jpg", alt="")
					.project-title
						p Dự án đầu tư
						a(href="#") Bến xe miền đông mới
		.other-project-wrapper
			.navigation-wrapper
				.navigation-prev
					em.mdi.mdi-chevron-left
				.navigation-next
					em.mdi.mdi-chevron-right
			.other-project-swiper-wrapper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.other-project-item
								.other-project-image
									img(src="/img/home/project/2.jpg", alt="")
								.other-project-caption
									p thi công xây lắp
									span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
						.swiper-slide
							.other-project-item
								.other-project-image
									img(src="/img/home/project/3.jpg", alt="")
								.other-project-caption
									p thi công xây lắp
									span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
						.swiper-slide
							.other-project-item
								.other-project-image
									img(src="/img/home/project/4.jpg", alt="")
								.other-project-caption
									p thi công xây lắp
									span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
						.swiper-slide
							.other-project-item
								.other-project-image
									img(src="/img/home/project/5.jpg", alt="")
								.other-project-caption
									p thi công xây lắp
									span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
						.swiper-slide
							.other-project-item
								.other-project-image
									img(src="/img/home/project/2.jpg", alt="")
								.other-project-caption
									p thi công xây lắp
									span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
					