section.home-progress
	.container
		.progress-wrapper
			.logo-text
				img(src="./img/logo-text.png", alt="")
			.progress-number-wrapper
				.progress-item
					.progress-image
						img(src="./img/home/progress/1.png", alt="")
					.caption
						span.number 12
						span.text Năm hình thành và phát triển
				.progress-item
					.progress-image
						img(src="./img/home/progress/2.png", alt="")
					.caption
						span.number 03
						span.text Lĩnh vực kinh doanh cốt lõi
				.progress-item
					.progress-image
						img(src="./img/home/progress/3.png", alt="")
					.caption
						span.number 200
						span.text Cán bộ và nhân viên
				.progress-item
					.progress-image
						img(src="./img/home/progress/4.png", alt="")
					.caption
						span.number 1500
						span.text Dự án trọng điểm trên cả nước
				
