section.home-progress
	.container
		.progress-wrapper
			.logo-text(data-aos="fade-right" data-aos-offset="120" data-aos-delay="250" data-aos-duration="700" data-aos-easing="ease-in-out")
				img(src="./img/logo-text.png", alt="")
			.progress-number-wrapper
				.progress-item(data-aos="fade-up" data-aos-offset="120" data-aos-delay="750" data-aos-duration="700" data-aos-easing="ease-in-out")
					.progress-image
						img(src="./img/home/progress/1.png", alt="")
					.caption
						span.number 12
						span.text Năm hình thành và phát triển
				.progress-item(data-aos="fade-up" data-aos-offset="120" data-aos-delay="1050" data-aos-duration="700" data-aos-easing="ease-in-out")
					.progress-image
						img(src="./img/home/progress/2.png", alt="")
					.caption
						span.number 03
						span.text Lĩnh vực kinh doanh cốt lõi
				.progress-item(data-aos="fade-up" data-aos-offset="120" data-aos-delay="1350" data-aos-duration="700" data-aos-easing="ease-in-out")
					.progress-image
						img(src="./img/home/progress/3.png", alt="")
					.caption
						span.number 200
						span.text Cán bộ và nhân viên
				.progress-item(data-aos="fade-up" data-aos-offset="120" data-aos-delay="1750" data-aos-duration="700" data-aos-easing="ease-in-out")
					.progress-image
						img(src="./img/home/progress/4.png", alt="")
					.caption
						span.number 1500
						span.text Dự án trọng điểm trên cả nước
				
