section.news-other-side
	.news-other-side-wrapper
		h2 Tin tức khác
		.news-other-side-item
			time 30/10/2018
			a(href="#") Công trình: Xây lắp, hoàn thiện nhà xưởng và kho Xí nghiệp Bao Bì Liksin
		.news-other-side-item
			time 30/10/2018
			a(href="#") Công trình: Xây lắp, hoàn thiện nhà xưởng và kho Xí nghiệp Bao Bì Liksin
		.news-other-side-item
			time 30/10/2018
			a(href="#") Công trình: Xây lắp, hoàn thiện nhà xưởng và kho Xí nghiệp Bao Bì Liksin
		.news-other-side-item
			time 30/10/2018
			a(href="#") Công trình: Xây lắp, hoàn thiện nhà xưởng và kho Xí nghiệp Bao Bì Liksin


