section.field-detail-project-2
	.container
		.article-title-brown-center
			p.titlle Công trình
		.field-detail-project-wrapper
			.other-project-item-2
				.other-project-image
					a(href="#")
						img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p Dai Phuoc lotus -Zone 5, phase 3 & 4
			.other-project-item-2
				.other-project-image
					a(href="#")
						img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p Dai Phuoc lotus -Zone 5, phase 3 & 4
			.other-project-item-2
				.other-project-image
					a(href="#")
						img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p Dai Phuoc lotus -Zone 5, phase 3 & 4
			.other-project-item-2
				.other-project-image
					a(href="#")
						img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p Dai Phuoc lotus -Zone 5, phase 3 & 4
