<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->
	<templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
	<templatelist xsltname="Danh-Sach-Du-An.xslt" name="Danh sách dự án"></templatelist>
	<templatelist xsltname="Du-An-Chuyen-Muc.xslt" name="Dự án chuyên mục"></templatelist>
	<templatelist xsltname="Danh-Sach-Tin-Tuc.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="Tuyen-Dung-DS.xslt" name="Danh sách Tuyển dụng"></templatelist>
	<templatelist xsltname="Cong-Trinh.xslt" name="Công Trình"></templatelist>
	<templatelist xsltname="Tin-Tuc-Trang-Chu.xslt.xslt" name="Tin tức Trang chủ"></templatelist>
	<templatelist xsltname="Du-An-Home.xslt" name="Dự án Trang chủ"></templatelist>
	<templatelist xsltname="Du-An-Home-List.xslt" name="Danh Sách Dự án Trang chủ"></templatelist>

	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="Du-An-CT.xslt" name="Dự án chi tiết"></templatedetail>
	<templatedetail xsltname="Tin-Tuc-CT.xslt" name="Tin tức chi tiết"></templatedetail>
	<templatedetail xsltname="Tuyen-Dung-CT.xslt" name="Tuyển dụng chi tiết"></templatedetail>

	<position>
		<!--<add name="Trang chủ" value="1" resourcefile="" />-->
	</position>
</templates>
