section.working-condition
	.container
		.article-title-brown-center
			p.title Môi trường làm việc    
		.row
			.col-lg-6
				article
					p Xí nghiệp Đầu tư Xây dựng Đô Thành (CSAMCO) luôn xây dựng một môi trường làm việc lý tưởng. Nơi đó, nhân viên “đầu tư” sự nhiệt huyết, tích lũy kinh nghiệm và kiến thức, thời gian và công sức. Họ sẽ được sự ghi nhận, cơ hội làm việc trong môi trường chuyên nghiệp, chế độ lương thưởng hấp dẫn và chính sách thăng tiến trong nghề nghiệp trên nguyên tắc: “Chính trực - Trách nhiệm - Sáng tạo - Hợp tác”..
					p Mỗi nhân viên sẽ mang đến cho khách hàng và đối tác những dịch vụ tốt nhất bằng kỹ năng chuyên nghiệp và đạo đức nghề nghiệp.
					.item-chart-wrapper
						.item-chart
							.item-image
								img(src="./img/employee/icon-1.png", alt="")
							.item-caption
								p Tuyển dụng công khia
						.item-chart
							.item-image
								img(src="./img/employee/icon-1.png", alt="")
							.item-caption
								p Tuyển dụng công khia
						.item-chart
							.item-image
								img(src="./img/employee/icon-1.png", alt="")
							.item-caption
								p Tuyển dụng công khia
			.col-lg-6
				article
					.article-image
						img(src="./img/employee/1.jpg", alt="")
