section.job-detail
	.article-title-small
		h1 Trưởng phòng kinh té dự án
	article
		h2 Yêu cầu công việc
		table
			tbody
				tr
					td Số lượng cần tuyển
					td Otto
					
				tr
					td Jacob
					td Thornton
				tr
					td Larry
					td the Bird
		h3 Mô tả công việc
		ul
			li Kiểm tra trình tự, rà soát, đánh giá một cách độc lập, khách quan đối với tất cả các hồ sơ tài liệu đầu tư các dự án đã thực hiện của đơn vị để xem xét, đánh giá tính tuân thủ pháp luật, quy chế, cơ chế và quy trình nghiệp vụ của đơn vị;
			li Thực hiện toàn bộ thủ tục dưới vai trò của nhà đầu tư trong giai đoạn lựa chọn nhà đầu tư (cả dự án PPP và dự án đầu tư có sử dụng đất);
			li Kiểm soát quy trình thực hiện dự án đầu tư, quy trình làm hồ sơ dự án đầu tư (ưu tiên giai đoạn chuẩn bị dự án);
			li Thực hiện các thủ tục đầu tư dự án xây dựng hạ tầng kỹ thuật (từ giai đoạn chuẩn bị dự án, thực hiện dự án đến khi quyết toán và kết thúc đầu tư);
			li Thực hiện các công việc khác theo yêu cầu của Lãnh đạo Công ty.
		.job-apply-button-wrapper
			.red-button
				a(href="#") Ứng tuyển ngay
			p hoặc
			.grey-button
				a(href="#") Tải mẫu đơn xin việc
				span (Nộp trực tiếp)
