section.news-detail
	article
		time 30/10/2018
		h1 CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3 & 4 - Infrastructure Package
		p
			em Ngày 19/07/2011, Tổng Công ty SAMCO nhận quyết định trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package tại văn phòng của Chủ đầu tư: Vina Dai Phuoc Corporation.
		p  Dự án tọa lạc tại khu đô thị mới Nhơn Trạch, có diện tích 200 ha, tổng vốn đầu tư trên 400 triệu USD. Dự án nằm trong tổng thể khu đô thị du lịch sinh thái Đại Phước, thuộc phần đất nam Cù lao ông Cồn, xã Đại Phước, cách trung tâm đô thị mới Thủ Thiêm, quận 2 khoảng 10 km.
		ul
			li  Dự án tọa lạc tại khu đô thị mới Nhơn Trạch, có diện 
			li Đắp đất sỏi đỏ nền đường;
			li Trải cấp phối đá dăm loại II dày 35cm, K > 0,98;
			li Trải cấp phối đá dăm loại I dày 25cm, K > 0,98;
		img(src="./img/news-detail/1.jpg", alt="")
		.social-network-wrapper
			.social-network-button
				.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
			.social-network-button
				.fb-save(data-uri='https://www.instagram.com/facebook/', data-size='small')


