section.philosophy-about-us
	.container
		.article-title-brown-center
			p.title Triết lý kinh doanh
		.philosophy-wrapper
			p.title Hợp tác – hành động – hiệu quả
			.mark-item
				span Con người là tài sản quý nhất, là nền tảng để phát triển nhanh và bền vững.
			.mark-item
				span Khách hàng là trung tâm cho mọi suy nghĩ và hành động.
			.mark-item
				span Chuyên nghiệp, sáng tạo, trách nhiệm và hiệu quả là tiêu chí đánh giá cá nhân & tập thể.
			.mark-item
				span Quan tâm chia sẻ, đồng tâm hiệp lực để cùng nhau hoàn thành nhiệm vụ và phục vụ cộng đồng.

