extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/employee/job-list/index.pug
	include ../components/employee/working/index.pug
	include ../components/employee/banner/index.pug
	include ../components/pagination/index.pug
