extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/field-detail-1/chart/index.pug
	include ../components/field-detail-1/article/index.pug
	include ../components/field-detail-1/field-structure/index.pug
	include ../components/field-detail-1/field-relate/index.pug
