section.contact-information
	.container
		.article-title-brown-center
			p.title Liên hệ csamco
		.row.contact-information-wrapper
			.col-lg-5.address-wrapper
				.logo
					img(src="./img/contact/logo.png", alt="")
				.banner-wrapper-address
					h2 CHI NHÁNH TỔNG CÔNG TY CƠ KHÍ GIAO THÔNG VẬN TẢI SÀI GÒN TNHH MTV- XÍ NGHIỆP ĐẦU TƯ XÂY DỰNG ĐÔ THÀNH  (CSAMCO)
					ul
						li
							em.mdi.mdi-map-marker
							p
								strong Địa chỉ: 
								| 121 Cô Giang, Phường Cô Giang, Quận 1, TP.HCM

						li
							em.mdi.mdi-phone
							p
								strong  Điện thoại: 
								| (028) 39.207.350 - 39.203.817
						li
							em.mdi.mdi-fax
							p
								strong Fax: 
								| (028) 39.207.351
						li
							em.mdi.mdi-email
							p
								strong Email: 
								a(href="mailto:csamco@samco.com.vn") csamco@samco.com.vn
						li
							em.mdi.mdi-web
							p
								strong Website: 
								a(href="www.csamco.com.vn") www.csamco.com.vn

			.col-lg-7.form-wrapper
				h1 Thông tin liên hệ của bạn
				h2 Gửi thông tin liên hệ để CSAMCO có thể giúp đỡ bạn một cách tốt nhất
				.wrap-form
					.row
						.form-group.col-12
							label Họ và tên
							input.form-control(type='text')
						.form-group.col-12
							label Email
							input.form-control(type='text')
						.form-group.col-12
							label Số điện thoại
							input.form-control(type='text')
						.form-group.col-12
							label Nội dung
							textarea#inpputTextArea.form-control(rows='3')
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="Gửi")
section.google-map-wrapper
	.map-wrapper
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6404559518214!2d106.69470043082305!3d10.762168382213048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1411694edd%3A0xc2ea174d168c0161!2zMTIxIEPDtCBHaWFuZywgUGjGsOG7nW5nIEPDtCBHaWFuZywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1564366590374!5m2!1sen!2s', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
