section.employee-banner
	.container
		.row
			.col-lg-6
			.col-lg-6
				.banner-wrapper-address
					h1 Mọi liên hệ xin gửi về cho chúng tôi theo địa chỉ: 
					h2 CHI NHÁNH TỔNG CÔNG TY CƠ KHÍ GIAO THÔNG VẬN TẢI SÀI GÒN TNHH MTV- XÍ NGHIỆP ĐẦU TƯ XÂY DỰNG ĐÔ THÀNH  (CSAMCO)
					ul
						li
							em.mdi.mdi-map-marker
							p
								strong Địa chỉ: 
								| 121 Cô Giang, Phường Cô Giang, Quận 1, TP.HCM

						li
							em.mdi.mdi-phone
							p
								strong  Điện thoại: 
								| (028) 39.207.350 - 39.203.817
						li
							em.mdi.mdi-fax
							p
								strong Fax: 
								| (028) 39.207.351
						li
							em.mdi.mdi-email
							p
								strong Email: 
								a(href="mailto:csamco@samco.com.vn") csamco@samco.com.vn
						li
							em.mdi.mdi-web
							p
								strong Website: 
								a(href="www.csamco.com.vn") www.csamco.com.vn
