section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/home/banner/1.jpg", alt="")
					.swiper-caption
						span.caption Trách nhiệm bảo vệ môi trường và xây dựng xã hội phồn vinh
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/home/banner/2.jpg", alt="")
					.swiper-caption
						span.caption Trách nhiệm bảo vệ môi trường và xây dựng xã hội phồn vinh
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/home/banner/3.jpg", alt="")
					.swiper-caption
						span.caption Trách nhiệm bảo vệ môi trường và xây dựng xã hội phồn vinh
			.swiper-slide
				.wrapper
					.swiper-image
						img(src="./img/home/banner/1.jpg", alt="")
					.swiper-caption
						span.caption Trách nhiệm bảo vệ môi trường và xây dựng xã hội phồn vinh

		.swiper-pagination
		.home-banner-prev
			em.mdi.mdi-chevron-left
		.home-banner-next
			em.mdi.mdi-chevron-right
