section.field-detail-article-2
	.container
		.article-title-brown-center
			p.titlle Dự án đầu tư
		.row
			.col-lg-8.offset-50
				article
					.article-image
						img(src="./img/field-detail/1.jpg", alt="")
			.col-lg-4
				article
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique sequi temporibus odio consequatur quidem, possimus quod deleniti, cum quisquam voluptatem minus voluptas! At sed vel nostrum qui repellendus ipsa cumque?
