secttion.project-display-wrapper
	.article-title-brown-center
		p.title Dự án
	.row
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
		.col-sm-6.col-md-4
			.project-item
				.other-project-image
					img(src="/img/home/project/4.jpg", alt="")
				.other-project-caption
					p thi công xây lắp
					span.caption Dai Phuoc lotus -Zone 5, phase 3 & 4
