section.field-of-business-display
	.container
		.article-title-brown-center
			p.title Lĩnh vực hoạt động
		.row
			.col-6.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/1.jpg", alt="")
					figcaption
						p Thi công lắp đặt
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
			.col-6.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/2.jpg", alt="")
					figcaption
						p Thi công lắp đật
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
			.col-12.col-sm-4
				figure
					.figure-image
						a(href="#")
							img(src="./img/home/field/3.jpg", alt="")
					figcaption
						p Thi công lắp đật
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
