section.about-us-block
	.container
		.article-title-brown-center
			p.title Giới thiệu
		.row
			.col-lg-6
				article
					span Xí nghiệp Đầu tư Xây dựng Đô Thành (CSAMCO)
					p Tổng công ty Cơ khí Giao thông Vận tải Sài Gòn (SAMCO) thành lập năm 2004 thí điểm hoạt động theo mô hình Công ty mẹ – Công ty con. Năm 2010 Tổng công ty chuyển đổi thành Tổng công ty Cơ khí Giao thông Vận tải Sài Gòn – TNHH MTV theo Quyết định số 2988/QĐ-UB ngày 7/7/2010 của Ủy ban nhân dân thành phố Hồ Chí Minh.
					p SAMCO hoạt động đa ngành trong nhiều lĩnh vực, mỗi ngành đều có vị trí quan trọng trong sự phát triển kinh tế xã hội của Thành phố, tập trung được nhiều nguồn lực, khả năng hỗ trợ, hợp tác liên kết với nhau trên nhiều lĩnh vực. 
					.article-red-button
						a(href="#") Xem thêm
							em.fas.fa-long-arrow-alt-right
			.col-lg-6
				article
					.article-image
						img(src="./img/home/project/1.jpg", alt="")
