<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu header" value="1" resourcefile="" />
		<add name="Menu footer 1" value="2" resourcefile="" />
		<add name="Menu footer 2" value="4" resourcefile="" />
		<add name="Menu footer 3" value="8" resourcefile="" />
		<add name="Menu footer 4" value="16" resourcefile="" />
		<add name="Lĩnh vực hoạt động " value="32" resourcefile="" />
		<add name=" Home Lĩnh vực hoạt động " value="64" resourcefile="" />
		<add name=" Dự án Navigation " value="128" resourcefile="" />
		<add name=" Tin tức Navigation " value="256" resourcefile="" />
		<add name="Lĩnh vực khác" value="512" resourcefile="" />
		<add name="Lĩnh vực Trang chủ" value="1024" resourcefile="" />
		<add name="Tin tức Trang chủ" value="2048" resourcefile="" />
		<add name="Giới thiệu Trang chủ" value="4096" resourcefile="" />
	</position>

</settings>
