section.about-us-struture
	.container
		.article-title-brown-center
			p.title Cơ cấu tổ chức
		.light-garelly-wrapper
			.lightgallery
				a(href='./img/about-us/company-structure.png')
					img(src='./img/about-us/company-structure.png')
				a(href='./img/about-us/company-structure.png')
					img(src='./img/about-us/company-structure.png')
	
