section.field-detail-struture-1
	.container
		.article-title-brown-center
			p.title Hình ảnh công trình
		.garelly-half-3-wrapper
			.garelly-half-item.big
				.lightgallery
					a(href='./img/field-detail/2.jpg')
						img(src='./img/field-detail/2.jpg')
					a(href='./img/field-detail/1.jpg')
						img(src='./img/field-detail/1.jpg')
			.garelly-half-wrapper
				.garelly-half-item
					.lightgallery
						a(href='./img/field-detail/2.jpg')
							img(src='./img/field-detail/2.jpg')
						a(href='./img/field-detail/1.jpg')
							img(src='./img/field-detail/1.jpg')
				.garelly-half-item
					.lightgallery
						a(href='./img/field-detail/2.jpg')
							img(src='./img/field-detail/2.jpg')
						a(href='./img/field-detail/1.jpg')
							img(src='./img/field-detail/1.jpg')

