section.field-detail-relate
	.container
		.article-title-brown-start
			p.title Mục liên quan
		.field-detail-relate-wrapper
			.relate-item
				.relate-image
					a(href="#")
						img(src="./img/field-detail/5.jpg", alt="")
				.relate-caption
					a(href="#") Cho thuê xe thiết bị
			.relate-item
				.relate-image
					a(href="#")
						img(src="./img/field-detail/6.jpg", alt="")
				.relate-caption
					a(href="#") Cho thuê xe thiết bị
				
