section.news-display
	.container
		.article-title-brown-center
			p.title
				a(href="#") Tin tức
		.news-navigation
			ul.tab-list-navigation
				li
					a(href="javascript:void(0)" data-type="link-1") Tên hoạt độngg 
				li
					a(href="javascript:void(0)" data-type="link-2") Tin tức ngành 
				li
					a(href="javascript:void(0)" data-type="link-3") Tin tức tổng hợp
				li
					a(href="javascript:void(0)" data-type="link-4") Thư viện
		.news-wrapper.tab-wrapper
			.row.news-item-wrapper.tab-item#link-1
				.col-lg-6
					.news-item-big
						.news-item-image
							a(href="#")
								img(src="./img/home/news/1.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							p.caption  Kết cấu áo đường: Đắp đất sỏi đỏ nền đường; Trải cấp phối đá dăm loại II dày 35cm, K > 0,98; Trải cấp phối đá dăm loại I dày 25cm, K > 0,98; Tưới nhựa dính bám tiêu chuẩn 1,0kg/m2; Thảm BTNN hạt thô dày 7cm (R25 loại1); Tưới nhựa dính bám tiêu chuẩn 0,5kg/m2; Thảm BTNN hạt mịn dày 5cm (C10 loại 1);
				.col-lg-6.news-side-wrapper
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
				 
			.row.news-item-wrapper.tab-item#link-2
				.col-lg-6
					.news-item-big
						.news-item-image
							a(href="#")
								img(src="./img/home/news/1.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							p.caption  Kết cấu áo đường: Đắp đất sỏi đỏ nền đường; Trải cấp phối đá dăm loại II dày 35cm, K > 0,98; Trải cấp phối đá dăm loại I dày 25cm, K > 0,98; Tưới nhựa dính bám tiêu chuẩn 1,0kg/m2; Thảm BTNN hạt thô dày 7cm (R25 loại1); Tưới nhựa dính bám tiêu chuẩn 0,5kg/m2; Thảm BTNN hạt mịn dày 5cm (C10 loại 1);
				.col-lg-6.news-side-wrapper
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
				 
			.row.news-item-wrapper.tab-item#link-3
				.col-lg-6
					.news-item-big
						.news-item-image
							a(href="#")
								img(src="./img/home/news/1.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							p.caption  Kết cấu áo đường: Đắp đất sỏi đỏ nền đường; Trải cấp phối đá dăm loại II dày 35cm, K > 0,98; Trải cấp phối đá dăm loại I dày 25cm, K > 0,98; Tưới nhựa dính bám tiêu chuẩn 1,0kg/m2; Thảm BTNN hạt thô dày 7cm (R25 loại1); Tưới nhựa dính bám tiêu chuẩn 0,5kg/m2; Thảm BTNN hạt mịn dày 5cm (C10 loại 1);
				.col-lg-6.news-side-wrapper
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
					.news-item-side
						.news-item-image
							a(href="#")
								img(src="./img/home/news/2.jpg", alt="")
						.news-item-caption
							time 30/10/2018
							p.title
								a(href="#") CSAMCO trúng thầu công trình: Dai Phuoc Lotus - Zone 5, Phase 3&4 - Infrastructure Package
							
				 
