section.field-of-business-1
	.container
		.article-title-brown-center
			p.title Thi công xây lắp
			h1 Xí nghiệp Đầu tư Xây dựng Đô Thành (CSAMCO) là chi nhánh của Tổng Công ty Cơ khí Giao thông Vận tải Sài Gòn – Trách nhiệm hữu hạn Một Thành Viên có kinh nghiệm thi công nhiều loại công trình như:
		.row.field-chart-wrapper
			.col-lg-4.field-chart-item
				.field-chart-image
					img(src="./img/field-detail/icon-1.png", alt="")
				.field-caption
					p Tổng thầu xây dựng các công trình cầu, đường bộ, bến, bãi đậu xe, cảng sông, cảng biển, bờ kè.
			.col-lg-4.field-chart-item
				.field-chart-image
					img(src="./img/field-detail/icon-2.png", alt="")
				.field-caption
					p Xây dựng dân dụng, công nghiệp, công trình cấp nước, thoát nước, thủy lợi, công viên cây xanh, đèn chiếu sáng công cộng, đèn tín hiệu giao thông, công trình điện trung - hạ thế
			.col-lg-4.field-chart-item
				.field-chart-image
					img(src="./img/field-detail/icon-3.png", alt="")
				.field-caption
					p Tổng thầu xây dựng các công trình cầu, đường bộ, bến, bãi đậu xe, cảng sông, cảng biển, bờ kè.

